* {
    margin: 0;
    padding: 0;
}

.add-container-1 {
    width: 491px;
    height: 32px;
    position: absolute;
    top: 153px;
    left: 70px;
    gap: 40px;
}

.add-para-1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.add-para-2 {
    color: rgba(162, 163, 177, 1);
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.add-container-2 {
    width: 836px;
    height: 104px;
    position: absolute;
    top: 249px;
    left: 80px;
}

.add-img-position-1 {
    position: absolute;
    top: 6px;
    left: 2px;
}

.add-para-3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;

}

.add-position-1 {
    width: 183px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: 36px;
}

.add-container-2-box {
    width: 51px;
    height: 24px;
    position: absolute;
    top: 3px;
    left: 227px;
    border: 1px solid rgba(58, 163, 159, 1);
    border-radius: 4px;
}

.add-para-4 {
    color: rgba(58, 163, 159, 1);
    margin-top: 6px;
    margin-left: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

.add-para-5 {
    color: rgba(23, 24, 59, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.add-position-2 {
    width: 430px;
    height: 24px;
    position: absolute;
    top: 48px;
    left: 36px;
}

.add-para-6 {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.add-position-3 {
    width: 76px;
    height: 20px;
    position: absolute;
    top: 84px;
    left: 36px;
}

.add-para-7 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1px;
    text-align: left;
}

.add-position-4 {
    width: 103px;
    height: 24px;
    position: absolute;
    top: 84px;
    left: 118px
}

.add-container-2-box-2 {
    width: 152px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 594px;
    gap: 24px;
}

.add-para-8 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.add-para-9 {
    color: rgba(225, 75, 75, 1);
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}

.add-container-3 {
    width: 836px;
    height: 104px;
    position: absolute;
    top: 409px;
    left: 80px;
}

.add-container-3-box {
    width: 51px;
    height: 24px;
    position: absolute;
    top: 3px;
    left: 157px;
    border: 1px solid rgba(58, 163, 159, 1);
    border-radius: 4px;
}

.add-position-5 {
    width: 113px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: 36px;
}

.add-line {
    background: rgba(209, 209, 216, 1);
    width: 820px;
    height: 1px;
    position: absolute;
    top: 545px;
    left: 80px;
}

.add-container-4 {
    width: 188px;
    height: 24px;
    position: absolute;
    top: 578px;
    left: 116px;
    border-radius: 4px;
    gap: 16px;
}

.add-para-10 {
    color: rgba(58, 163, 159, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}