* {
    margin: 0;
    padding: 0;
}

.pay-para-1 {
    color: rgba(23, 24, 59, 1);
    width: 168px;
    height: 24px;
    position: absolute;
    top: 249px;
    left: 70px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: left;
}

.pay-container-1 {
    width: 800px;
    height: 113px;
    position: absolute;
    top: 297px;
    left: 70px;
    border-radius: 2px;
    border: 1px solid rgba(209, 209, 216, 1);
    opacity: 0.2px;
}

.pay-container-2 {
    width: 783px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 24px;
    border-radius: 4px;
}

.pay-img-position-1 {
    position: absolute;
    top: 4px;
    left: 35px;
}

.pay-para-2 {
    color: rgba(23, 24, 59, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.pay-position-1 {
    position: absolute;
    top: 2px;
    left: 80px;
}

.pay-para-3 {
    color: rgba(162, 163, 177, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.pay-position-2 {
    position: absolute;
    top: 0px;
    left: 205px;
}

.pay-position-3 {
    position: absolute;
    top: 0px;
    right: 30px;
}

.pay-border {
    background: rgba(209, 209, 216, 1);
    width: 800px;
    height: 1px;
    position: absolute;
    top: 56px;
    left: 0px;
    opacity: 0.2px;
}

.pay-container-3 {
    width: 785px;
    height: 24px;
    position: absolute;
    top: 76px;
    left: 24px;
    border-radius: 4px;
}

.pay-border-2 {
    background-color: rgba(209, 209, 216, 1);
    width: 800px;
    height: 1px;
    position: absolute;
    top: 442px;
    left: 70px;
    opacity: 0.2px;
}

.pay-container-4 {
    width: 225px;
    height: 24px;
    position: absolute;
    top: 475px;
    left: 70px;
    border-radius: 4px;
    gap: 16px;
}
.pay-para-4{
    color: rgba(58, 163, 159, 1);
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.10000000149011612px;
text-align: left;
}