 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 :root {
     --primary-text-color: #F9F1E7;
     --botten-color: #3AA39F;
     --Hover-botten-color: #2D807C;
     --icon-color: #E89F7199;
     --Hover-icon-color: #E89F71;
     --box-color: #E89F71;
     --Hover-box-color: #E88446;
 }

 body {
     font-family: 'Poppins', sans-serif;
     background: rgba(255, 255, 255, 1);
 }

 header {
     width: 98.6vw;
     height: 774px;
 }

 .flex {
     display: flex;
     align-items: center;
 }

 .header-color {
     background-color: var(--primary-text-color);
     width: 940px;
     height: 774px;

 }

 nav {
     width: 99vw;
     max-width: 1260px;
     height: 80px;
     top: 0;
     z-index: 99;
     left: 0;
     right: 0;
     border-bottom: 1px solid rgba(209, 209, 216, 1);
 }

 .nav-logo {
     display: flex;
     width: 84px;
     height: 50px;
     margin-top: 8px;
     margin-left: 40px;
 }
 .nav-logo:hover{
    /* filter:  drop-shadow(2px 2px 2px black); */
    box-shadow: 2px 2px 4px black;
 }

 .nav-link {
     display: flex;
     margin-left: 206px;
     width: 600px;
     height: 16px;
     padding-left: 150px;
 }

 .nav-ul {
     list-style: none;
 }
 .nav-item {
     font-size: 14px;
     font-weight: 600;
 }

 .nav-link ul {
     gap: 30px;
 }

 .shop-nav {
     color: black;
     text-decoration: none;
 }

 .nav-ul-nav-hover {
     font-weight: bold;
 }

 .nav-ul-nav:hover {
     font-weight: bold;
 }

 .nav-icon {
     width: 8px;
 }

 .nav-icon-img1 {
     /* width: 10px; */
     margin-top: 6px;
     margin-left: 7px;
     border: 2px;
 }

 .nav-icon-img2 {
     width: 16px;
     height: 16px;
     margin-top: 3px;
     margin-left: 53px;
     margin-right: 17px;
     border: 2px;
 }

 .nav-img-3 {
     width: 80px;
     height: 80px;
     border-left: 1px solid rgba(209, 209, 216, 1);
     cursor: pointer;
 }

 .nav-icon-img3 {
     width: 22px;
     height: 21px;
     position: absolute;
     top: 30px;
     right: 14px;
 }
 .nav-icon-img3-hover{
    box-shadow: 2px 2px 6px black;
 } 
 .nav-icon-img-shadow:hover{
    box-shadow: 2px 2px 6px black;
    border-radius: 50%;
 }

 .header-images {
     width: 966px;
     height: 514px;
     margin-top: 90px;
     margin-left: 101px;
     border-radius: 12px;
     position: relative;
     overflow: hidden;
 }

 .header-circul {
     color: rgba(232, 189, 162, 1);
     width: 117px;
     height: 24px;
     position: absolute;
     top: 9px;
     left: 41%;
     /* gap: 20px; */
     z-index: 1;
     /* border: 2px solid black; */
 }

 .box-3-img-3 {
     width: 24px;
     height: 24px;
     /* margin-left: 20px; */
     padding-left: 20px;
 }

 .head-circule {
     position: relative;
     left: -15px;
     top: 0px;
 }

 .box-3-img-3-1 {
     background-color: rgba(232, 189, 162, 1);
     width: 11px;
     height: 11px;
     border-radius: 50%;
     margin-top: 6px;
 }

 .headerborder {
     width: 0px;
     border: 1px solid rgba(232, 159, 113, 1);
     border-radius: 50%;
 }

 .headerCircule {
     background-color: rgba(232, 159, 113, 1)
 }

 .slider {
     width: 100%;
     height: 100%;
     transition: 1s;
     position: absolute;
 }

 .header-icon {
     width: 40px;
     height: 40px;
     background: rgba(232, 159, 113, 0.6);
     border-radius: 50%;
     cursor: pointer;
 }

 .header-icon:hover {
     background-color: rgba(232, 159, 113, 1);
 }

 .head-icon-position-1 {
     position: absolute;
     top: 70%;
     right: 313px;
 }

 .head-icon-position-2 {
     position: absolute;
     top: 71%;
     left: 149px;
 }

 .he-icon {
     padding: 13px;
 }

 .header-box {
     background: rgba(255, 255, 255, 0.72);
     width: 284px;
     height: 447.77px;
     position: absolute;
     top: 204px;
     left: 980px;
 }

 .haedline {
     margin-top: 18px;
     margin-left: 28px;

 }

 .head {
     color: #3A3A3A;
     font-family: Poppins;
     font-size: 38px;
     font-weight: 600;
     line-height: 46px;
     letter-spacing: -0.015em;
     text-align: left;
 }

 .prag {
     font-family: Inter;
     font-size: 18px;
     font-weight: 400;
     line-height: 27px;
     letter-spacing: 0em;
     text-align: left;
     color: #3A3A3A;
 }

 .hed-Shop {
     background: rgba(232, 159, 113, 1);
     color: white;
     width: 212px;
     height: 52px;
     margin-top: 28px;
     margin-left: 42px;
     border: rgba(255, 255, 255, 0.72);
 }

 .hed-Shop:hover {
     background-color: rgba(232, 132, 70, 1);
 }

 .pa-shop {
     font-family: Inter;
     font-size: 20px;
     font-weight: 500;
     line-height: 30px;
     letter-spacing: 0em;
     text-align: center;
     cursor: pointer;
 }

 .main-icon {
     width: 1165px;
     height: 85px;
     position: absolute;
     top: 862px;
     left: 95px;
     gap: 92px;

 }

 .main-box {
     margin-left: 57px;
 }

 .main-img {
     display: inline-block;
     position: absolute;
     top: 21px;
     left: 6px;
 }

 .main-img2 {
     display: inline-block;
     position: absolute;
     top: 21px;
     left: 320px;
 }

 .main-img3 {
     display: inline-block;
     position: absolute;
     top: 21px;
     left: 624px;
 }

 .main-img4 {
     display: inline-block;
     position: absolute;
     top: 21px;
     right: 237px;
 }

 .main-hed {
     color: rgba(58, 58, 58, 1);
     font-size: 18px;
     font-weight: 600;
     line-height: 27px;
     letter-spacing: 0em;
     text-align: left;

 }

 .main-per {
     /* //styleName: Body / Normal - Medium; */
     color: rgba(137, 137, 137, 1);
     font-family: Gilroy;
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0em;
     text-align: left;
 }

 .product {
     width: 98.6vw;
     max-width: 1232px;
     height: 1120px;
     position: absolute;
     top: 1035px;
     left: 30px;
     border: 1px;
     /* position: relative; */
 }

 .pro-headline {
     width: 358px;
     height: 48px;
     position: absolute;
     top: 0px;
     left: 460px;
 }

 .pro-headline-text {
     color: rgba(58, 58, 58, 1);
     font-family: Poppins;
     font-size: 40px;
     font-weight: 500;
     line-height: 48px;
     letter-spacing: 0em;
     text-align: center;
 }

 .pro-box-head {
     font-size: 24px;
     font-weight: 600;
     line-height: 29px;
     letter-spacing: 0em;
     text-align: left;
     margin-top: 18px;
     margin-left: 13px;
 }

 .pro-box-para {
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0em;
     text-align: left;
     margin-top: 18px;
     margin-left: 13px;
 }

 .pro-box-head-2 {
     font-size: 20px;
     font-weight: 600;
     line-height: 30px;
     letter-spacing: 0em;
     text-align: left;
     margin-top: 18px;
     margin-left: 13px;
 }

 .pro-box-head-3 {
     color: rgba(176, 176, 176, 1);
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0em;
     text-align: left;
     margin-top: 14px;
     margin-left: 16px;
 }

 .main-box-1 {
     width: 98.6vw;
     max-width: 1232px;
     height: 446px;
     position: absolute;
     top: 85px;
     gap: 32px;

 }

 .main-box-2 {
     width: 98.6vw;
     max-width: 1232px;
     height: 446px;
     position: absolute;
     top: 590px;
     gap: 32px;

 }

 .Pro-Box {
     width: 285px;
     height: 482px;
     background: rgba(217, 217, 217, 1);
     overflow: hidden;
     /* margin-top: -422px; */
     position: relative;
     cursor: pointer;
 }

 .Pro-Box:hover {
     background: rgba(214, 228, 255, 1);
 }

 .mai-button {
     background: rgba(233, 113, 113, 1);
     color: rgba(255, 255, 255, 1);
     width: 48px;
     height: 48px;
     position: absolute;
     top: 24px;
     left: 213px;
     font-family: Gilroy;
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0em;
     text-align: left;
     border-radius: 50%;
     border: rgba(233, 113, 113, 1);
     cursor: pointer;
 }

 .main-shop {
     background-color: rgba(255, 255, 255, 1);
     color: rgba(232, 159, 113, 1);
     position: absolute;
     top: 1070px;
     left: 495px;
     width: 245px;
     height: 48px;
     border: 1px solid rgba(232, 159, 113, 1);
     font-family: Gilroy;
     font-size: 16px;
     font-weight: 600;
     line-height: 24px;
     cursor: pointer;
 }

 .main-box-3 {
     width: 98.6vw;
     max-width: 1280px;
     height: 670px;
     position: absolute;
     top: 2173px;
     background: rgba(252, 248, 243, 1);

 }

 .box-3-content {
     width: 360px;
     height: 152px;
     position: absolute;
     top: 233px;
     left: 55px;
 }

 .box-3-text {
     color: rgba(58, 58, 58, 1);
     font-size: 40px;
     font-weight: 600;
     line-height: 48px;
     letter-spacing: 0em;
     text-align: left;
 }

 .box-3-item {
     color: rgba(97, 97, 97, 1);
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0em;
     text-align: left;
 }

 .box-3-button-text {
     width: 212px;
     height: 52px;
     position: absolute;
     top: 400px;
     left: 5px;
     background: rgba(232, 159, 113, 1);
     color: rgba(255, 255, 255, 1);
     font-family: Inter;
     font-size: 20px;
     font-weight: 500;
     line-height: 30px;
     letter-spacing: 0em;
     text-align: center;
     border: rgba(232, 159, 113, 1);
     margin-top: 9px;
     margin-left: 50px;

 }

 .box-3-button-text:hover {
     background: rgba(232, 132, 70, 1);
     /* transform: scaleX(32px); */
     transition: ease-in-out;
     width: 300px;

 }

 .box-3-img {
     width: 404px;
     height: 582px;
     position: absolute;
     top: 44px;
     left: 448px;
 }

 .box-3-container {
     background: rgba(255, 255, 255, 0.72);
     width: 217px;
     height: 130px;
     position: absolute;
     top: 472px;
     left: 472px;
 }

 .p1 {
     color: rgba(97, 97, 97, 1);
     position: absolute;
     top: 42px;
     left: 42px;
     /* font-family: Gilroy; */
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0em;
     text-align: left;
 }

 .p2 {
     color: rgba(58, 58, 58, 1);
     position: absolute;
     top: 75px;
     left: 42px;
     font-family: Gilroy;
     font-size: 28px;
     font-weight: 600;
     line-height: 34px;
     letter-spacing: 0em;
     text-align: left;
 }

 .box-3-img-button {
     background: rgba(232, 159, 113, 1);
     width: 48px;
     height: 48px;
     position: absolute;
     top: 555px;
     left: 690px;

 }

 .box-3-icon {
     position: absolute;
     top: 16px;
     left: 13px;
     border: 1.5px;
 }

 .box-3-img-2 {
     width: 372px;
     height: 486px;
     position: absolute;
     top: 44px;
     left: 884px;

 }

 .main-icom-2 {
     position: absolute;
     top: 300px;
     right: 24px;
 }

 .box-3-ul {
     width: 120px;
     height: 27px;
     position: absolute;
     top: 573px;
     left: 884px;
     gap: 20px;
 }


 .box-4 {
     width: 98.6vw;
     max-width: 1280px;
     height: 520px;
     position: absolute;
     top: 2877px;
     /* background-color: rgba(97, 97, 97, 0.1); */

 }

 .box-4-text {
     width: 245px;
     height: 48px;
     position: absolute;
     top: 0%;
     left: 514px;
 }

 .box-4-text-decoration {
     color: rgba(58, 58, 58, 1);
     font-family: 'Poppins', sans-serif;
     font-size: 38px;
     font-weight: 700;
     line-height: 48px;
     letter-spacing: 0em;

 }

 .box-4-1 {
     width: 391px;
     height: 370px;
     position: absolute;
     top: 80px;
     left: 20px;
 }

 .box-4-1:hover {
     box-shadow: 4px 4px 12px rgb(61, 61, 61);
 }

 .box-4-2 {
     width: 391px;
     height: 370px;
     position: absolute;
     top: 80px;
     left: 438px;
 }

 .box-4-2:hover {
     box-shadow: 4px 4px 12px rgb(61, 61, 61);
 }

 .box-4-3 {
     width: 391px;
     height: 370px;
     position: absolute;
     top: 80px;
     left: 853px;
 }

 .box-4-3:hover {
     box-shadow: 4px 4px 12px rgb(61, 61, 61);
 }

 .box-4-contant {
     color: rgba(58, 58, 58, 1);
     position: absolute;
     top: 267px;
     left: 16px;
     font-size: 24px;
     font-weight: 600;
     line-height: 29px;
     letter-spacing: 0em;
     text-align: left;
 }

 .box-4-container {
     width: 391px;
     height: 119px;
     box-shadow: 2px black;
 }


 .box-3-date {
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
     letter-spacing: 0em;
     text-align: left;
     position: absolute;
     top: 333px;
     left: 16px;
 }

 .main-icon-position-1 {
     position: absolute;
     top: 225px;
     left: 26px;
 }

 .main-icon-position-2 {
     position: absolute;
     top: 225px;
     right: 46px;
 }

 .box-4-ul {
     position: absolute;
     top: 486px;
     left: 48%;
     gap: 20px;
 }

 .main-box-5 {
     width: 98.6vw;
     max-width: 1280px;
     height: 780px;
     position: absolute;
     top: 3441px;
 }

 .box-5-p {
     color: rgba(97, 97, 97, 1);
     font-size: 20px;
     font-weight: 600;
     line-height: 30px;
     letter-spacing: 0em;
     text-align: center;
 }

 .box-5-hed {
     color: rgba(58, 58, 58, 1);
     font-size: 40px;
     font-weight: 700;
     line-height: 48px;
     letter-spacing: 0em;
     text-align: center;
 }

 .box-5-img1 {
     position: absolute;
     top: 3500px;
     left: 0px;
 }

 .box-5-img2 {
     position: absolute;
     top: 3898px;
 }

 .box-5-img3 {
     position: absolute;
     top: 3570px;
     left: 220px;
 }

 .box-5-img4 {
     position: absolute;
     top: 3898px;
     left: 327px;
 }

 .box-5-img5 {
     position: absolute;
     top: 3656px;
     left: 687px;
 }

 .box-5-img6 {
     position: absolute;
     top: 3963px;
     left: 998px;
 }

 .box-5-img7 {
     position: absolute;
     top: 3963px;
     left: 1192px;
     max-width: 100px;
     height: 196px;
     overflow: hidden;
 }

 .box-5-img8 {
     position: absolute;
     top: 3599px;
     left: 998px;
     height: 348px;
     max-width: 262px;
 }

 .main-box-6 {
     width: 98.6vw;
     max-width: 1280px;
     height: 367px;
     position: absolute;
     top: 4308px;
     border-top: 1px solid black;
 }

 .box-6-1 {
     width: 249px;
     height: 260px;
     position: absolute;
     top: 49px;
     left: 52px;
 }

 .box-6-2 {
     width: 115px;
     height: 229px;
     position: absolute;
     top: 49px;
     left: 381px;
 }

 .box-6-3 {
     width: 93px;
     height: 189px;
     position: absolute;
     top: 49px;
     left: 564px;
 }

 .box-6-4 {
     width: 196px;
     height: 149px;
     position: absolute;
     top: 49px;
     left: 737px;
 }

 .box-6-5 {
     width: 262px;
     height: 90px;
     position: absolute;
     top: 49px;
     left: 997px;
 }

 .box-6-headline {
     color: rgba(0, 0, 0, 1);
     font-size: 24px;
     text-align: left;
     font-weight: 600;
     line-height: 29px;
     letter-spacing: 0em;

 }

 .box-6-para {
     color: rgba(97, 97, 97, 1);
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0em;
     text-align: left;

 }

 .head-1 {
     text-align: left;
     margin-bottom: 11px;
 }

 .para-1 {
     margin-bottom: 15px;
 }

 .para-2 {
     margin-bottom: 17px;
 }

 .para-3 {
     margin-bottom: 12px;
 }

 .box2-margin {
     text-align: left;
     margin-bottom: 16px;
 }

 .main-input {
     background: rgba(244, 245, 247, 1);
     color: rgba(130, 130, 130, 1);
     width: 242px;
     height: 45px;
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0em;
     text-align: left;
     padding-left: 12px;
     border: white;
 }

 .box-6-5-cont {
     background: rgba(232, 159, 113, 1);
     width: 46px;
     height: 45px;
     position: absolute;
     top: 45px;
     left: 217px;
 }

 .box-6-5-img {
     width: 17.98px;
     height: 18px;
     position: absolute;
     top: 13px;
     left: 13.01px;
 }

 .button-hover {
     background: rgba(232, 159, 113, 1);
 }